.container>.align {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.align>.presentation {
    text-align: center;
}

.align>.presentation h2 {
  text-transform: uppercase;
}

.description>.box:nth-child(odd) {
  display: flex;
  flex-direction: row;
  background-color: #34A3A3;
  border-radius: 200px 0px 0px 200px;
  width: 100%;
  height: auto;
  margin: 5% 0;
}

.description>.box:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  background-color: #34A3A3;
  border-radius: 0 200px 200px 0;
  width: 100%;
  height: auto;
  margin: 5% 0;
}

.description>.box>.text {
  padding: 0 2%;
}

.description>.box>.text>p {
  font-size: 1vw;
  text-align: justify;
  hyphens: auto;
}

.description>.box>.text>h2 {
  font-size: 1em;
}

.description .box img {
  width: 100%;
  height: 100%;
  float: left;
}
