main>.container>.under_container>.left {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 0;
  padding-top: 5%;
  padding-right: 2%;
}

main>.container>.under_container>.right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  padding: 0;
  padding-top: 5%;
}

.container h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}

hr {
  width: 100%;
    border: 2px solid #34A3A3;
}

.container a {
  text-decoration: none;
  text-transform: none;
  color: white;
}

.container p {
  font-size: 1em;
  padding: 6% 0;
  border-bottom: 1px solid #CCC;
}

button {
  background-color: #34A3A3;
  text-transform: uppercase;
  width: 100%;
  color: white;
  margin-top: 1.5em;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border-bottom: 2px solid rgba(204, 204, 204, 0.1);
  padding: 0.5em;
}

tbody tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.1);
}

tbody tr:nth-child(even) {
  background-color: none;
}
