body {
  padding: 0;
  margin: 0;
  background-color: #CCC;
  font-family: "Roboto", sans-serif;
}

.box {
  margin: 3% auto;
  display: flex;
  justify-content: space-around;
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  height: 600px;
  width: 800px;
}

.box>.left {
  height: 100%;
  width: 50%;
}

.box>.p1 {
  background-image: url(../images/photo_register.png);
  background-size: cover;
}

.box>.p2 {
  background-image: url(../images/photo_log.png);
  background-size: cover;
}

.box>.right {
  width: 50%;
}

p {
  padding: 2% 0;
  text-align: center;
  font-size: 1.5em;
}

form {
  padding: 0 5%;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #34A3A3;
  width: 100%;
  color: white;
  margin-top: 2em;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

label[for=checkbox] {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

label[for=checkbox] a{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.down {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 5%;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #34A3A3;
}

span {
  padding: 0;
  padding-top: 15%;
  margin-bottom: 6%;
  font-size: 1em;
}

button {
  height: 3em;
  width: 100%;
  color: white;
  margin-top: 1em;
  padding: 12px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button[name=facebook] {
  background-color: #3A589B;
  background-image: url(../images/icons/f_fb.svg);
  background-size: auto 22px;
  background-position: center;
  background-repeat: no-repeat;
}

button[name=google] {
  background-color: #fff;
  background-image: url(../images/icons/g_google.svg);
  background-size: auto 22px;
  background-position: center;
  background-repeat: no-repeat;
}
