.container>.box {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;
}

.container h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #CCC;
}

.container>.box>.left {
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.container>.box>.left>p {
  margin-left: 0;
  margin-top: 5%;
  width: 100%;
  text-align: justify;
  hyphens: auto;
}

.container>.box>.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  height: auto;
  width: 40%;
}

.container>.box>.right>.publish {
  padding-bottom: 8%;
}

.container>.box>.right>.publish>a>img {
  float: left;
  padding-right: 5%;
  height: auto;
  width: 40%;
}

.container>.box>.right>.publish>span {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.container>.box>.right>.publish>p {
  font-size: 0.8em;
  padding-top: 2%;
}
