body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  margin: 0 auto;
  max-width: 1440px;
}

main>.container {
  margin: 0;
  background-color: #1F1F1F;
  color: white;
  padding: 120px 10% 0 10%;
  min-height: 100vh;
}

.under_container {
  display: flex;
  flex-direction: row;
}

/* NAV */
nav {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 80px;
  height: 80px;
  width: 100%;
}

nav, ul, h1 {
  margin: 0;
  padding: 0;
}

nav>ul>li {
  float: left;
  display: inline;
  margin-right: 4%;
  list-style: none;
}

nav>ul>li>a {
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: #34A3A3;
}

.logo {
  padding: 15px 5% 0 20px;
  float: left;
  width: 300px;
}

.icons {
  display: inline;
  padding-right: 20px;
  padding-top: 8px;
  float: right;
}

.icons>a>img {
  width: 28px;
  height: 28px;
}

/* HEADER */
header {
  background: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
}

header>.text_box {
  padding-top: 55vh;
  padding-left: 15vh;
}

header>.text_box>h1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  border-left: 6px solid #FFF;
}

/* PARTNER */
.partner {
  background-color: #CCC;
  height: 160px;
}

.partner>h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 30px 0;
  margin: 0;
}

.partner_box {
  display: flex;
  justify-content: space-around;
}

.partner_box>img {
  height: 4em;
  width: auto;
}

.partner_box>.border {
  border-right: 2px solid rgba(0, 0, 0, 0.10);
}

/* PRESENT */
section#present {
  background: url(../images/background_pres.png);
  background-size: cover;
  width: 100%;
  color: white;
  height: auto;
}

section#present>h1 {
  padding: 3% 0;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

section#present>.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

section#present>.container>img {
  width: 40%;
  height: 40%;
}

section#present>.container>.envelope {
  margin: 1.5%;
  width: 30%;
}

.icon_title {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 28px;
  height: 28px;
}

/* APPLI */
.appli {
  display: flex;
  width: 100%;
  background-color: #CCC;
  height: 160px;
}

.appli>.appli_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.appli_box>a>img {
  height: 60px;
  width: auto;
}

.appli_box>span {
  text-align: center;
  font-size: 1.2em;
  text-transform: none;
  font-weight: 400;
}

/* PRODUCT */
section#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

section#product>.box {
  display: flex;
  justify-content: space-around;
  background-color: #1F1F1F;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  width: 80%;
  height: 320px;
}

section#product>h2 {
  color: rgba(31, 31, 31, 0.8);
}

section#product>.box>.photo {
  height: 100%;
  float: left;
  width: 50%;
}

section#product>.box>.pd1 {
  background: url(../images/product_1.png);
  background-size: cover;
}

section#product>.box>.pd2 {
  background: url(../images/product_2.png);
  background-size: cover;
}

section#product>.box>.pd3 {
  background: url(../images/product_3.png);
  background-size: cover;
}

section#product>.box>.text {
  position: relative;
  padding: 2em 0 2em 0;
  width: 50%;
  color: white;
}

section#product>.box>.text>p {
  margin-left: 2em;
  padding: 1.5em 0;
}

section#product>.box>.text>ul {
  margin-left: 2em;
  border-left: 4px solid white;
}

section#product>.box>.text>ul>li {
  padding-left: 1em;
  margin-bottom: 0.2em;
  list-style: none;
}

section#product>.box>.text>span {
  position: absolute;
  bottom: 0.2em;
  right: 0.5em;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}

section#product>.box>.text>span>a>img {
  width: 32px;
  height: 32px;
}

/* VALUE */
section#value {
  display: flex;
  justify-content: center;
}

section#value>.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin-left: 3%;
}

section#value>.icons>img {
  height: 100px;
  width: 100px;
}

section#value>.icons>h3 {
  font-size: 1em;
  text-align: center;
}

/* FOOTER */
section#footer {
  display: flex;
  background-color: #1F1F1F;
  color: white;
  padding: 2em 0;
  width: 100%;
  height: auto;
}

section#footer>.container {
  padding: 0 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

section#footer>.container>.left {
  width: 50%;
  border-right: 4px solid #FFF;
}

section#footer>.container>.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

section#footer>.container>.right>.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section#footer>.container>.right>.social>.button {
  margin-top: 0.8em;
  margin-right: 0.5em;
}

section#footer>.container>.right>.social>a>img {
  width: 48px;
  height: 48px;
}

section#footer>.container>.list {
  display: flex;
  flex-direction: column;
}

section#footer>.container>.right>.list>ul {
  margin-left: 2em;
  border-left: 4px solid white;
  margin-top: 2em;
}

section#footer>.container>.right>.list>ul>li {
  margin-left: 1em;
  list-style: none;
}

section#footer>.container>.right>.list>ul>li>a {
  color: white;
  text-decoration: none;
}

form {
  width: 95%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #CCC;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #34A3A3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #CCC;
}
