.container>.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container>.faq>ul {
  width: 80%;
}

.container>.faq>ul>li {
  list-style: none;
  text-align: center;
  font-size: 1em;
  background-color: #FFF;
  border: 1px solid #CCC;
  line-height: 2.5em;
  height: 2.5em;
  margin: 2% 0;
}

.container>.faq>ul>li>a {
  color: #000;
  text-decoration: none;
}

form {
  width: 80%;
}

.container>.faq>form>label {
  color: white;
}

.container>.faq>form>input[type=text] {
  border: 1px solid #CCC;
  background-image: url(../images/icons/scope.svg);
  background-size: auto 22px;
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
  width: 30%;
  height: 2.5em;
}
